{php}include("header.inc.php"){/php}

<table border="1">
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th>Nome do morador</th>
	<th>Número do Ap</th>
	<th>Saldo devedor</th>
	<th>Meses atrasados</th>
{foreach from=$apartamentos item=result}
	<tr>
		<td align="center"> <a href="#"><img src="/phpunit/images/view.png" with="25" height="25" /></a> </td>
		<td align="center"> <a href="#"><img src="../images/delete.png" with="25" height="25" /></a> </td>
		<td align="center"> <a href="#"><img src="../images/edit.png" with="25" height="25" /></a> </td>
		<td align="center">{$result->morador}</td>
		<td align="center">{$result->numero}</td>
		<td>{$result->saldo}</td>
		<td>{$result->meses_devedores}</td>
	</tr>
{/foreach}
</table>

{php}include("footer.inc.php"){/php}
