<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  {% block stylesheets %}
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/screen.css">
  {% endblock %}
  <title>WSD</title>
</head>
<body>
  {% block content %}
  {% endblock %}
  
  {% block footer %}
    <div class="clear">&nbsp;</div>
        
    <!-- start footer -->         
    <div id="footer">
      <!--  start footer-left -->
      <div id="footer-left">
      
      Sistema condominio &copy; Copyright 2014. <span id="spanYear"></span>Todos os direitos reservados</div>
      <!--  end footer-left -->
      <div class="clear">&nbsp;</div>
    </div>
  {% endblock %}

  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {% endblock %}
</body>
</html>
